{% load static %}
<!DOCTYPE html>
<html class="fixed js flexbox flexboxlegacy no-touch csstransforms csstransforms3d no-overflowscrolling">
<head>
    <style type="text/css">
        @charset "UTF-8";
        [ng\:cloak],
        [ng-cloak],
        [data-ng-cloak],
        [x-ng-cloak],
        .ng-cloak,
        .x-ng-cloak,
        .ng-hide:not(.ng-hide-animate) {
            display: none !important;
        }
        ng\:form {
            display: block;
        }
        .ng-animate-shim {
            visibility: hidden;
        }
        .ng-anchor {
            position: absolute;
        }
    </style>

    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomeIndex - JVC Online</title>
    <link href="{% static 'css/jquery-ui.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/font-awesom.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap-fileupload.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/theme.css' %}" rel="stylesheet">
    <link href="{% static 'css/jquery.dataTables.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/style1.css' %}" rel="stylesheet">
    <link href="{% static 'css/animate.css' %}" rel="stylesheet">
    <link href="{% static 'css/BOM1.css' %}" rel="stylesheet">

    <script src="{% static 'Scripts/jquery.js' %}"></script>
    <script src="{% static 'Scripts/jquery-ui.js' %}"></script>
    <script src="{% static 'Scripts/angular.js' %}"></script>
    <script src="{% static 'Scripts/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'Scripts/angular-datatables.min.js' %}"></script>
    <script src="{% static 'Scripts/angular-route.js' %}"></script>
    <script src="{% static 'Scripts/angular-filter.min.js' %}"></script>



</head>

<body ng-app="JVCApp" class="pace-done">



    <section class="body">
        <!-- start: header -->
        <header class="header">
            <div class="logo-container">
                <a href="#" class="logo">
                    <img src="{% static 'images/Nibin666.jpg' %}" height="40" alt="JVC">
                </a>

                <div class="visible-xs toggle-sidebar-left" data-toggle-class="sidebar-left-opened" data-target="html" data-fire-event="sidebar-left-opened">
                    <i class="fa fa-bars" aria-label="Toggle sidebar"></i>
                </div>
            </div>



            <!-- end: search & user box -->
        </header>
        <!-- end: header -->

        <div class="inner-wrapper">
            <!-- start: sidebar -->


            <style>
                html {
                    font-family: sans-serif;
                    -webkit-text-size-adjust: 100%;
                    -ms-text-size-adjust: 100%;
                }

                li.borders.col-md-12.no-padding {
                    border-bottom: 1px solid #616060;
                }
            </style>
            <header class="header header-nav-menu">
                <div class="logo-container">
                    <a href="/Dashboard/HomeIndex" class="logo">
                        <img src="{% static 'images/Nibin666.jpg' %}" height="40" alt="JVC">
                    </a>
                    <!-- end: header nav menu -->
                    <!-- start: search & user box -->
                    <button class="btn header-btn-collapse-nav hidden-md hidden-lg" data-toggle="collapse" data-target=".header-nav">
            <i class="fa fa-bars"></i>
        </button>

                    <!-- start: header nav menu -->
                    <div class="header-nav collapse">
                        <div class="header-nav-main header-nav-main-effect-1 header-nav-main-sub-effect-1">
                            <nav>
                                <ul class="nav nav-pills" id="mainNav">

                                    <li class="dropdown" style="display:block">
                                        <a class="dropdown-toggle">
                                            <i class="fas fa-user-plus" aria-hidden="true"></i>
                                            <span>Users</span>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li style="display:block">
                                                <a href="/User/Update"> User</a>
                                            </li>
                                            <li style="display:block">
                                                <a href="/User/Access"> Access permissions</a>
                                            </li>
                                            <li style="display:block" class="none">
                                                <a href="/Dashboard/Guideline">

                                                    <span>Guideline</span>
                                                </a>
                                            </li>
                                            <li style="display:none" class="none">
                                                <a href="/Dashboard/Docs">
                                                    <span>Sample Docs</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>

                                    <li class="dropdown dropdown-mega" style="display:">
                                        <a class="nav-link dropdown-toggle" href="#"><i class="fas fa-cogs" aria-hidden="true" title="Material Master"></i> Material Master<i class="fas fa-caret-down"></i></a>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <div class="dropdown-mega-content">
                                                    <div class="row">
                                                        <div class="col-lg-12">
                                                            <ul class="dropdown-mega-sub-nav">

                                                                <div class="col-lg-2 reduce-width">
                                                                    <ul class="dropdown-mega-sub-nav mega-sub-nav-sub-menu-1 in collapse" style="">


                                                                        <li style="display:">
                                                                            <a href="/Dashboard" style="font-size: 1.4rem;color: #000;">
                                                                    Dashboard Offline
                                                                </a>
                                                                        </li>
                                                                    </ul>
                                                                    <div>
                                                                        <h5 style="font-weight: bold;margin-top: 15px;">Search</h5>

                                                                        <ul class="dropdown-mega-sub-nav mega-sub-nav-sub-menu-1 in collapse" style="">
                                                                            <li style="display:block">
                                                                                <a href="/Search/Searchbydesc">
                                                                        Fuzzy Search
                                                                    </a>
                                                                            </li>

                                                                        </ul>

                                                                    </div>
                                                                    <div style="">
                                                                        <h5 style="display:block;font-weight: bold;margin-top: 15px;" ng-class="P3">Request </h5>

                                                                        <ul class="dropdown-mega-sub-nav mega-sub-nav-sub-menu-1 in collapse" style="">

                                                                            <li style="cursor: not-allowed">
                                                                                <a href="/MaterialRequest" style="block"> Request Item</a>
                                                                            </li>
                                                                            <li style="cursor: not-allowed">
                                                                                <a href="/Approver" style="block"> Approve Item</a>
                                                                            </li>
                                                                            <li style="display:block">
                                                                                <a href="/GeneralSettings/Bigdata">Bulk User Assign</a>
                                                                            </li>
                                                                        </ul>

                                                                    </div>
                                                                    <div style="display:block">
                                                                        <h5 style="display:block;font-weight:bold;">Files </h5>
                                                                        <ul class="dropdown-mega-sub-nav mega-sub-nav-sub-menu-1 in collapse" style="">
                                                                            <li style="display:block">
                                                                                <a href="/File/Import">Import</a>
                                                                            </li>
                                                                            <li style="display:block">
                                                                                <a href="/File/Assignwork"> Assign Work</a>
                                                                            </li>
                                                                        </ul>
                                                                    </div>

                                                                </div>
                                                                <div class="col-lg-2 reduce-width  color-gray" style="">
                                                                    <div style="">
                                                                        <h5 class="none" style="font-weight:bold;">Equipment Creation</h5>


                                                                        <ul class="dropdown-mega-sub-nav mega-sub-nav-sub-menu-1 in collapse" style="">

                                                                            <li style="cursor: not-allowed">
                                                                                <a href="/Equipment/Equipments" style="display:pointer-events:none;color:#ccc;">New Equipment</a>
                                                                            </li>
                                                                            <li style="cursor: not-allowed">
                                                                                <a href="/Equipment/EquipmentDictionary" style="display:block">Equipment Dictionary</a>
                                                                            </li>

                                                                            <li style="cursor: not-allowed">
                                                                                <a href="/Equipment/SrchEquipment" style="display:block">Search</a>
                                                                            </li>
                                                                        </ul>



                                                                    </div>
                                                                    <h5 style="font-weight:bold;">Catalogue </h5>


                                                                    <ul class="dropdown-mega-sub-nav mega-sub-nav-sub-menu-1 in collapse" style="">

                                                                        <li style="cursor: not-allowed">
                                                                            <a href="{% url 'catalogue' %}" style="block"> Catalogue</a>
                                                                        </li>

                                                                        <li style="cursor: not-allowed">
                                                                            <a href="/Catalogue/Review" style="block">Quality Control</a>
                                                                        </li>

                                                                        <li style="cursor: not-allowed">
                                                                            <a href="/Catalogue/Release" style="block">Quality Assurance</a>
                                                                        </li>

                                                                        <li style="cursor: not-allowed">
                                                                            <a href="/Catalogue/Bulk" style="block">Bulk Upload</a>
                                                                        </li>
                                                                        <li style="cursor: not-allowed">
                                                                            <a href="/Catalogue/Pvdata" style="pointer-events:none;color:#ccc;">PV Data</a>
                                                                        </li>

                                                                    </ul>



                                                                </div>
                                                                <div class="col-lg-2 reduce-width">
                                                                    <ul class="dropdown-mega-sub-nav mega-sub-nav-sub-menu-1 in collapse" style="">
                                                                        <h5 style="display:block;font-weight: bold;">Data Dictionary </h5>
                                                                        <li style="cursor: not-allowed">
                                                                            <a href="/Dictionary/Add" style="block">Create Template</a>
                                                                        </li>
                                                                        <li style="cursor: not-allowed">
                                                                            <a href="/Dictionary/Values" style="block">Value Master</a>
                                                                        </li>
                                                                        <li style="cursor: not-allowed">
                                                                            <a href="/Dictionary/Characteristics" style="block">Attribute Master</a>
                                                                        </li>
                                                                        <li style="cursor: not-allowed">
                                                                            <a href="/Dictionary/Logic" style="block">Attribute Relation</a>
                                                                        </li>
                                                                        <li style="cursor: not-allowed">
                                                                            <a href="/Dictionary/View" style="block">View Dictionary</a>
                                                                        </li>
                                                                        <li style="cursor: not-allowed">
                                                                            <a href="/Dictionary/CodeLogic" style="block">Code Logic</a>
                                                                        </li>
                                                                    </ul>

                                                                </div>

                                                                <div class="col-lg-2 reduce-width color-gray" style="">
                                                                    <h5 style="display:block;font-weight: bold;">Tools </h5>
                                                                    <ul class="dropdown-mega-sub-nav mega-sub-nav-sub-menu-1 in collapse" style="">

                                                                        <li>
                                                                            <a href="/Master/Plant" style="block">Plant</a>
                                                                        </li>
                                                                        <li style="cursor: not-allowed">
                                                                            <a href="/Master/General" style="block">General</a>
                                                                        </li>

                                                                        <li style="cursor: not-allowed">
                                                                            <a href="/Master/MRP" style="block">Mrp data</a>
                                                                        </li>
                                                                        <li style="cursor: not-allowed">
                                                                            <a href="/Master/Sales" style="block">Sales &amp; Others</a>
                                                                        </li>
                                                                        <li style="display:block">
                                                                            <a href="/GeneralSettings/Vendor1" style="block">Vendor Master</a>
                                                                        </li>
                                                                        <li style="cursor: not-allowed">
                                                                            <a href="/GeneralSettings" style="block">Settings</a>
                                                                        </li>
                                                                        <li style="cursor: not-allowed">
                                                                            <a href="/Sequence" style="block">Sequence Master</a>
                                                                        </li>
                                                                        <li style="cursor: not-allowed">
                                                                            <a href="/Sequence/UOM" style="block">Unit Settings</a>
                                                                        </li>
                                                                        <li style="cursor: not-allowed">
                                                                            <a href="/GeneralSettings/UNSPSC" style="block">UNSPSC Master</a>
                                                                        </li>
                                                                        <li style="cursor: not-allowed">
                                                                            <a href="/ValueStandardisation" style="block"> Value Standardization</a>
                                                                        </li>
                                                                        <li style="cursor: not-allowed">
                                                                            <a href="/Settings/EmailSettings" style="block"> Email Settings</a>
                                                                        </li>
                                                                    </ul>


                                                                </div>

                                                                <div class="col-lg-2 reduce-width" style="">
                                                                    <h5 style="display:block;font-weight: bold;">Reports </h5>
                                                                    <ul class="dropdown-mega-sub-nav mega-sub-nav-sub-menu-1 in collapse" style="">

                                                                        <li style="cursor: not-allowed">
                                                                            <a href="TRACKING REPORTS.html" style="block;color: #FF0000;"> Tracking Reports</a>
                                                                        </li>
                                                                        <li style="cursor: not-allowed">
                                                                            <a href="EXPORT.html"  style="block;color: #FF0000;"> Export</a>
                                                                        </li>
                                                                        <li style="cursor: not-allowed ">
                                                                            <a href="ERP CHANGELOG.html " style="block;color: #FF0000 "> ERP Change Log</a>
                                                                        </li>
                                                                        <li style="cursor: not-allowed ">
                                                                            <a href="/Report/SAPupdate " style="pointer-events:none;color:#ccc; "> SAP Update</a>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                    <div class="col-lg-2 reduce-width " style=" ">
                                                        <h5 style="display:block;font-weight: bold; "></h5>
                                                        <ul class="dropdown-mega-sub-nav mega-sub-nav-sub-menu-1 in collapse " style=" ">

                                                            <li style="display:block ">
                                                                <a href="WORK FLOW.html " style="font-size: 1.4rem;color: #000;font-weight: 700; " target="_blank ">Workflow</a>
                                                            </li>
                                                        </ul>
                                                    </div>

                                                    <br>
                                                </ul>
                                            </div>



                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>

                        <li class="dropdown dropdown-mega service " style="display:block ">
                            <a class="nav-link dropdown-toggle " href="# "><i class="fas fa-toolbox " aria-hidden="true " title="Service Master "></i> Service Master<i class="fas fa-caret-down "></i></a>
                            <ul class="dropdown-menu " style="max-width: 500px; ">
                                <li>
                                    <div class="dropdown-mega-content ">
                                        <div class="row ">
                                            <div class="col-lg-12 ">
                                                <ul class="dropdown-mega-sub-nav ">

                                                    <div class="col-lg-6 ">
                                                        <ul class="dropdown-mega-sub-nav mega-sub-nav-sub-menu-1 in collapse " style=" ">
                                                            <li style="display:block ">
                                                                <a href="SERVICE DASHBOARD.html ">  Dashboard</a>
                                                            </li>
                                                            <li style="display:cursor: not-allowed ">
                                                                <a href="SERVICE SEARCH.html ">  Service Search</a>
                                                            </li>
                                                            <li style="display:cursor: not-allowed ">
                                                                <a href="REQUEST SERVICE.html ">  Request service</a>
                                                            </li>
                                                            <li style="display:cursor: not-allowed ">
                                                                <a href="APPROVE SERVICE.html ">  Approve Service</a>
                                                            </li>
                                                            <li style="display:cursor: not-allowed ">
                                                                <a href="SERVICE MASTER1.html "> Service Master Tools</a>
                                                            </li>

                                                            <li style="display:cursor: not-allowed ">
                                                                <a href="SERVICE REPORT.html "> Service Report</a>
                                                            </li>
                                                        </ul>



                                                    </div>
                                                    <div class="col-lg-6 " style="background: #f8f8f8;min-height: 140px; ">
                                                        <h5 style="font-weight: bold; ">Service Creation </h5>
                                                        <ul class="dropdown-mega-sub-nav mega-sub-nav-sub-menu-1 in collapse " style="display:block ">
                                                            <li style="display:block ">
                                                                <a href="SERVICE CATALOUGE.html "> Service Creation</a>
                                                            </li>
                                                            <li style="display:block ">
                                                                <a href="SERVICES REVIEW.html "> Quality Control</a>
                                                            </li>
                                                            <li style="display:block ">
                                                                <a href="SERVICE RELEASE.html "> Quality Assurance</a>
                                                            </li>
                                                            <li style="display:block ">
                                                                <a href="BULK DATA.html "> Service Bulk</a>
                                                            </li>
                                                        </ul>


                                                    </div>

                                                </ul>
                                            </div>



                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>



                        <li class="dropdown " style="display:block ">
                            <a class="dropdown-toggle ">
                                <i class="fas fa-project-diagram " aria-hidden="true " title="Asset Master "></i>
                                <span>Asset Master</span>
                            </a>
                            <ul class="dropdown-menu ">
                                <li style="display:cursor: not-allowed ">
                                    <a href="BULK DATA LIST.html "> Bulk Upload</a>
                                </li>
                                <li style="display:cursor: not-allowed ">
                                    <a href="FUNCTIONAL LOCATION.html "> Functional Location</a>
                                </li>
                                <li style="display:cursor: not-allowed ">
                                    <a href="EQUIP.html "> Equipment</a>
                                                                        </li>
                                                                        <li style="display:cursor: not-allowed">
                                                                            <a href="ASSET HIERARCHICAL.html"> Asset Hierarchy</a>
                                                                        </li>
                                                                        <li style="display:cursor: not-allowed">
                                                                            <a href="MCP.html"> MCP</a>
                                                                        </li>
                                                                        <li style="display:cursor: not-allowed">
                                                                            <a href="TASK LIST.html"> TaskList</a>
                                                                        </li>
                                                                        <li style="display:cursor: not-allowed">
                                                                            <a href="MAINTENANCE OPERATION.html"> MP</a>
                                                                        </li>


                                                                    </ul>
                                            </li>
                                            <li class="dropdown" style="display:block">
                                                <a class="dropdown-toggle">
                                                    <i class="fas fa-sitemap" aria-hidden="true" title="Bill Of Material"></i>
                                                    <span>Bill Of Material</span>
                                                </a>
                                                <ul class="dropdown-menu">
                                                    <li style="display:block">
                                                        <a href="DASHBOARD BILL.html"> Dashboard</a>
                                                    </li>
                                                    <li style="display:cursor: not-allowed">
                                                        <a href="MATERIAL BILL OF MATERIALS.html"> Material Bom</a>
                                                    </li>
                                                    <li style="display:cursor: not-allowed">
                                                        <a href="EQUIPMENT BILL OF MATERIALS.html"> Equipment Bom</a>
                                                    </li>
                                                    <li style="display:cursor: not-allowed">
                                                        <a href="TRACKING BILL OF MATERIALA.html"> Hierarchy Bom</a>
                                                    </li>
                                                    <li style="display:cursor: not-allowed">
                                                        <a href="BILL OF MATERIALS REPORT.html"> Bom Report</a>
                                                    </li>
                                                    <li style="display:cursor: not-allowed">
                                                        <a href="Access Denied.html"> CSIR</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="dropdown" style="display:none">
                                                <a class="dropdown-toggle">
                                                    <i class="fas fa-industry" aria-hidden="true" title="Business Partner"></i>
                                                    <span>Business Partner</span>
                                                </a>
                                                <ul class="dropdown-menu">
                                                    <li style="display:cursor: not-allowed">
                                                        <a href="/BusinessPartner/creation">Creation</a>
                                                    </li>
                                                    <li style="display:cursor: not-allowed">
                                                        <a href="/BusinessPartner/General"> General Tools</a>
                                                    </li>
                                                    <li style="display:cursor: not-allowed">
                                                        <a href="/BusinessPartner/Ven"> Vendor Tools</a>
                                                    </li>
                                                    <li style="display:cursor: not-allowed">
                                                        <a href="/BusinessPartner/Cust"> Customer Tools</a>
                                                    </li>
                                                </ul>
                                            </li>


                                            </ul>
                            </nav>
                            </div>
                            </div>
                            <div class="header-right">

                                <div id="userbox" class="userbox">
                                    <a href="#" data-toggle="dropdown">
                                        <div class="profile-picture" style="color: #000011;font-size: 1.3rem;line-height: 1.2em;text-transform: uppercase;">

                                            Welcome,
                                        </div>
                                        <div class="profile-info">
                                            <span class="name">Super User</span>

                                        </div>

                                        <i class="fa custom-caret"></i>
                                    </a>
                                    <div class="time-login">Last Log in: Sep 05 2023 06:37 AM</div>

                                    <div class="dropdown-menu">
                                        <ul class="list-unstyled">
                                            <li class="divider"></li>
                                            <li>
                                                <a href="Myprofile.html">My Profile</a>
                                                <a role="menuitem" href="Myprofile.html" tabindex="-1"><i class="fa fa-user"></i> My Profile</a>
                                            </li>
                                            <li>
                                                <a role="menuitem" href="/User/Changepassword" tabindex="-1"><i class="fa fa-key"></i> Change Password</a>
                                            </li>
                                            <li>
                                                <a role="menuitem" href="/login/Logout" tabindex="-1"><i class="fa fa-power-off"></i> Logout</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                            </div>
                            </div>



                            <!-- end: search & user box -->
            </header>

            <!-- end: sidebar -->

            <div>




                <link href="/Content/jBox.css" rel="stylesheet">
                <section role="main" class="content-body" ng-controller="HomeController">


                    <!-- start: page -->
                    <section class="panel">
                        <header class="panel-heading">
                            <h2 class="panel-title">
                                HOME DASHBOARD
                            </h2>
                        </header>

                        <div class="form-group">



                            <div class="col-md-2 dashboard-design mb-3">

                                <div class="panel-body" style="padding: 10px;">

                                    
                                        <div class="widget-summary">
                                            <div class="" style="margin:0 auto;text-align:center;">
                                                <img src="{% static 'images/nibinmm.png' %}">
                                            </div>

                                            <div style="margin: 0 auto;text-align: center;">
                                                <a href="{% url 'nibin456' %}"> Material Master</a>
                                            </div>

                                        </div>
                                    
                                </div>
                            </div>

                            <div class="col-md-2 dashboard-design mb-3">

                                <div class="panel-body" style="padding: 10px;">
                                    <a href="SERVICE DASHBOARD.html">

                                        <div class="widget-summary">
                                            <div class="" style="margin:0 auto;text-align:center;">
                                                <img src="{% static 'images/mkl.png' %}">
                                            </div>

                                            <div style="margin: 0 auto;text-align: center;">
                                                Service Master
                                            </div>

                                        </div>
                                    </a>
                                </div>
                            </div>

                            <div class="col-md-2 dashboard-design mb-3">

                                <div class="panel-body" style="padding: 10px;">
                                    <a href="DASHBOARD BILL.html">
                                        <div class="widget-summary">
                                            <div class="" style="margin:0 auto;text-align:center;">
                                                <img src="{% static 'images/work.png' %}">
                                            </div>

                                            <div style="margin: 0 auto;text-align: center;">
                                                BOM
                                            </div>

                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-2 dashboard-design mb-3">

                                <div class="panel-body" style="padding: 10px;">
                                    <a href="FUNCTIONAL LOCATION.html">

                                        <div class="widget-summary">
                                            <div style="margin:0 auto;text-align:center;">
                                                <img src="{% static 'images/nibin565.png' %}">

                                            </div>

                                            <div style="margin: 0 auto;text-align: center;">
                                                Asset Master
                                            </div>

                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-2 dashboard-design mb-3">

                                <div class="panel-body" style="padding: 10px;">
                                    <a href="/GeneralSettings/Vendor">

                                        <div class="widget-summary">
                                            <div style="margin:0 auto;text-align:center;">
                                                <img src="{% static 'images/bs.png' %}">
                                            </div>

                                            <div style="margin: 0 auto;text-align: center;">
                                                <a href="BUSINESS PARTNER.html">Business Partner</a>


                                            </div>

                                        </div>
                                    </a>
                                </div>
                            </div>


                        </div>

                    </section>
                </section>





                <script src="{% static 'Scripts/Cataloguectrl.js' %}"></script>
                <script src="{% static 'Scripts/angular-busy.min.js"' %}"></script>
                <script src="{% static 'Scripts/jBox.js' %}"></script>
                <script src="{% static 'Scripts/jquery.magnify.js' %}"></script>








            </div>

            </div>

    </section>


    <script src="{% static 'Scripts/theme.js' %}"></script>
    <script src="{% static 'Scripts/modernizr.js' %}"></script>
    <script src="{% static 'Scripts/nanoscroller.js' %}"></script>
    <script src="{% static 'Scripts/fileupload.js' %}"></script>


    <script src="{% static 'Scripts/bootstrap.js' %}"></script>









</body>
<fatcoupon-root id="fatcoupon-root" style="all: initial;"></fatcoupon-root>

</html>